@model CameraFormModel
@using CameraBazaar.Data.Enums
@using CameraBazaar.Web.Infrastructure.Extensions
@using System.Linq

<form method="post" class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label asp-for="Make"></label>
        <select asp-for="Make" asp-items="@Html.GetEnumSelectList<Make>()" class="form-control"></select>
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" type="text" class="form-control" required />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" step="0.01" min="0" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" type="number" min="0" max="100" class="form-control" required />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinShutterSpeed"></label>
        <input asp-for="MinShutterSpeed" type="number" min="1" max="30" class="form-control" required />
        <span asp-validation-for="MinShutterSpeed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxShutterSpeed"></label>
        <input asp-for="MaxShutterSpeed" type="number" min="2000" max="8000" class="form-control" required />
        <span asp-validation-for="MaxShutterSpeed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinIso"></label>
        <input asp-for="MinIso" type="number" min="50" max="100" class="form-control" required />
        <span asp-validation-for="MinIso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxIso"></label>
        <input asp-for="MaxIso" type="number" min="200" step="100" max="409600" class="form-control" required />
        <span asp-validation-for="MaxIso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsFullFrame"></label>
        @Html.RadioButton(nameof(Model.IsFullFrame), "true") Yes
        @Html.RadioButton(nameof(Model.IsFullFrame), "false") No
        <span asp-validation-for="IsFullFrame" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VideoResolution"></label>
        <input asp-for="VideoResolution" type="text" class="form-control" required />
        <span asp-validation-for="VideoResolution" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LightMeterings"></label>
        <div class="col-md-offset-3">
            @foreach (LightMetering lm in Enum.GetValues(typeof(LightMetering)))
            {
                <div>
                    <input for="LightMeterings" type="checkbox" name="LightMeterings" value="@((int)lm)" checked="@(Model != null && Model.LightMeterings != null && Model.LightMeterings.Any(l=>l.HasFlag(lm)))" />
                    <label asp-for="LightMeterings">@lm.ToString().DashSeparate()</label>
                </div>}
        </div>
        <span asp-validation-for="LightMeterings" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="8" type="text" class="form-control" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" type="url" class="form-control" required />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <input type="submit" value="Save Camera" class="btn btn-primary col-md-4 col-md-offset-8" />
</form>